// CUSTOM STYLE
.color-bahama_blue { color: #0863a3; }
.color-black { color: black; }
.color-blue { color: #0000ff; }
.color-blue_magenta { color: #563d7c; }
.color-blue_three { color: #545fe6; }
.color-blue_two { color: #2449d8; }
.color-green { color: rgb(33, 223, 33); }
.color-magenta { color: #662079; }
.color-orange { color: #ffa500; }
.color-orange_two { color: #ed7c24; }
.color-pink { color: pink; }
.color-pink_sass { color: #c76494; }
.color-purple { color:purple; }
.color-red { color: red; }
.color-red_orange { color: #d84924; }
.color-yellow { color: #ffff00; }
.color-yellow_two { color: #ead41c; }

.text-primary { color: #0d6efd !important; }
.bg-primary { background-color: #0d6efd !important; }
.blue-light { color: #3d8bfd; }
.blue-lighter { color: #92befe; }

.social-icons .social-icon:hover { background-color: #0d6efd; }

.list-group-item:hover {
	background-color: #0d6efd;
	color: #ffffff;
}