header {
	
	button {
		display: none;
	}
	nav {
		border-top: 1px solid $colorPrimary4;
		ul {
			display: flex;
			justify-content: space-evenly;	
		}
		ul li a {
			border-top: none;
		}		
	}	
}

/* Tables */
.table-rentals {
	max-width: 700px;
}

.container-call {
	position: relative;
	form {
		width: 400px;
		float: left;
		position: absolute;
		top: 1em;
		left: 1em;
		fieldset {
			border: solid 1px $colorPrimary1;
			background-color:  rgba(105, 212, 242, 0.7);
		}
		input, select {
			font-size: 1.3em;
			height: 1.3em;
		}
		.submit-button {
			height: 40px;
		}
		section {
			padding: 0.5em 0;
		}
	}
}

.container-rentals {
	border: 1px solid white;
	margin: 1em auto;
	padding: 1em;
}

.container-rentals-2 {
	padding: 2em 0;
}

.container-weather {
	position: relative;
	padding: 0;
	
	div {
		width: 400px;
		float: right;
		position: absolute;
		top: 4em;
		right: 3em;	
		table {
			border: solid 1px $colorPrimary1;
			background-color:  rgba(105, 212, 242, 0.7);
		}		
	}
}

.hide {
	display: block;
}